@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* base styling */
:root {
  --primary-color: #3a4052;
}
/* reset margins and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

a {
  /* no underline in links */
  text-decoration: none;
  /* set the colour to our primary color variable above */
  color: var(--primary-color);
}
